/* CSS declarations go here */

body {
  width: 50em;
}

.side-nav {
  width: 6em;
}

.page, .side-nav {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}

.page {
  width: 37em;
  margin-right: 0;
}

ol.spaced > li {
  margin-bottom: 1em;
}

#portfolio img {
  width: 200px;
  /* margin-right: 1.375rem; */
  margin-right: 1em;
}

#portfolio section {
  clear: left;
  padding-top: 1em;
}



